@charset "UTF-8";

/*背景処理*/
body{
  font-family: sans-serif;
  font-size: 100%;
  font-weight: normal;
  color: #ffffff;/*背景色(正直壁紙貼ってるから関係ない･･･)*/
  background-image: url("./background.jpg");/*背景画像の指定*/
  background-size: cover;/*背景を横幅に合わせる*/
  background-repeat: no-repeat;/*画像をタイル状に並べない*/
  background-attachment: fixed;/*スクロールしても背景を動かさない*/
}
/*背景処理終わり*/
/*Top page*/
#top-title-img {text-align: center;}/*センタリング*/
#title-img {
  width: 70%;
  height: 70%;
}
#atamanowaruihito{
  width: 50%;
  height: 50%;
}

*.center{
    text-align: center;
}
*.button{/*リンクのボタン表示*/
  background-color: rgb(0,30,119);/*リンクボタンの背景色*/
  font-size: 30px;/*リンクボタンのフォントサイズ*/
  padding: 10px;/*ボタンとフォントのパディング値*/
  font-style: oblique;
  font-weight: 700;/*太文字(？)*/
  font-family: sans-serif,cursive,fantasy,serif;/*フォント種類*/
  font-variant: normal;
  color: rgb(0,176,207);/*文字色*/
}


  /*finish top*/

/*hoby*/
*.h1_hoby{
  font-size: 50px;
  font-style: normal;
  font-family: sans-serif;
  position: relative;
  padding: 0.1em 0.5em;
  background: -moz-linear-gradient(to right,rgb(59, 191, 255), transparent);
  background: -webkit-linear-gradient(to right, rgb(53, 33, 108),transparent);
  background: linear-gradient(to right, rgb(240, 95, 251), transparent);
  color: rgb(76, 237, 237);
}
*.main_li{
  font-family: sans-serif;
  padding: 0.1em 0.5em;
  background: -moz-linear-gradient(to right,rgb(255, 38, 237), transparent);
  background: -webkit-linear-gradient(to right, rgb(56, 18, 162),transparent);
  background: linear-gradient(to right, rgb(18, 158, 226), transparent);
  color: rgb(176, 255, 46);
}
*.anime_li{
  font-family: sans-serif;
  padding: 0.1em 0.5em;
  background: -moz-linear-gradient(to right,rgb(255, 38, 237), transparent);
  background: -webkit-linear-gradient(to right, rgb(56, 18, 162),transparent);
  background: linear-gradient(to right, rgb(19, 106, 126), transparent);
  color: rgb(208, 135, 1);
}
/*finish hoby*/

/*form*/
form{/*フォーム設定*/
  margin: 0 30% 0;/*フォームのマージン(配置)*/
  border: 2px solid rgb(180,214,255);/*枠線の設定*/
  border-radius: 5%;/*枠線の丸角化*/
  text-shadow: 2px 2px rgb(99, 0, 172);/*テキストの影設定*/

}
*.form-h1{
  font-family: sans-serif;
}

input.text{
  width: 300px;
  height: 100px;
  color: rgb(218, 218, 218);
}
/*end form*/
